:root {
    --dark-background: #301728;
    --big-text: rgb(226, 205, 245);
    --dark-background-text: #e6d7f3;
    --title-text: #812d7d;
    --light-background: #c771a4;
}
body {
    margin:0%;
}
.top-container {
    position: relative;
    background-color: var(--dark-background);
    font-family: 'Mansalva', cursive;
    height:600px;
    width:100%;
    /*border: 2px solid red;*/
}

.cloud-wrapper {
    position: relative;
    margin: 0 auto;
    height:600px;
    width:680px;
    /*border: 2px solid red;*/
}

.cloud-wrapper img {
    position: absolute;
}

.cloud1 {
    bottom: 52%;
    left: 14%;
}

.cloud2 {
    bottom: 37%;
    left: 73%;
}

.cloud3 {
    bottom: 59%;
    left: 49%;
}

.mountain {
    bottom:0%;
    left:2%;
}

.helloTitle {
    position:absolute;
    color: var(--big-text);
    font-size:4rem;
    bottom:70%;
    left:12%;
}

.descriptionTitle {
    position:absolute;
    color: var(--dark-background-text);
    font-size:2rem;
    bottom:65%;
    left:35%;
}
.descriptionTitle2 {
    position:absolute;
    color: var(--dark-background-text);
    font-size:2rem;
    bottom:60%;
    left:35%;
}

h1,h2,h3 {
    font-family:'Indie Flower', cursive;
}

span {
    text-decoration: underline;
}

.middle-container {
    margin: 0 auto;
    width: 75%;
}

.profile {
    padding-bottom:3rem;
    text-align:center;
}

.profile img {
    width:100px;
    padding: 2rem 0;
}

.middle-container h3 {
    font-size: 2.3rem;
    color:var(--title-text);
}

.middle-container h2 {
    font-size: 3rem;
    color:var(--title-text);
    text-align:center;
}

.middle-container p {
    font-size: 1.25rem;
}

hr {
    width: 23%;
    border-width: 0.69rem;
    border-style: dotted none none;
    color:var(--title-text);
}

.skills-spaghetti {
    width: 150px;
    float: left;
    margin-right:3rem;
}

.skills-row {
    text-align:left;
    margin-bottom:4rem;
}

.skills-gamer {
    width: 150px;
    float: right;
    margin-left:3rem;
}

.contact-me {
    text-align: center;
}

.btn {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    font-family: 'Mansalva';
    color: #e6d7f3;
    font-size: 48px;
    background: #301728;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }

  .btn:hover {
    background: #c4459c;
    text-decoration: none;
  }
  .bottom-container {
      margin-top:2rem;
      padding-bottom:1rem;
      text-align: center;
      background-color: var(--light-background);
      font-family: 'Mansalva',cursive;
      font-size: 2rem;
  }

  .bottom-container a {
      text-decoration: none;
      display:inline-block;
      padding:1rem;
  }